name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.render
          platforms: linux/amd64
          push: true
          tags: ${{ secrets.S_DOCKERHUB_USERNAME }}/allio-booking:v1
          # Vi tilføjer vigtige variabler her, som Next.js skal bruge under build
          build-args: |
            NODE_OPTIONS=--max-old-space-size=6144
            NEXT_PUBLIC_WEBAPP_URL=http://localhost:3000
            NEXT_PUBLIC_LICENSE_CONSENT=agree
            NEXT_TELEMETRY_DISABLED=1
          # Cache gør at de næste builds kører meget hurtigere
          cache-from: type=gha
          cache-to: type=gha,mode=max